/* Riquadro nero che occupa tutta la larghezza */
.rental-box {
  background-color: #000000; /* Sfondo nero */
  background-image: url("/public/assets/imgbg.jpg"); /* Aggiungi l'immagine di sfondo */
  background-size: cover; /* Adatta l'immagine per coprire tutta la sezione */
  background-position: center center; /* Centra l'immagine */
  padding: 30px 0;
  width: 100%;
}

/* Quadrato bianco con il modulo di prenotazione */
.booking-form {
  background-color: rgba(255, 255, 255, 0.8); /* Sfondo bianco con opacità per vedere l'immagine di sfondo */
  width: 50%;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Stile per il titolo */
.booking-form h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Stile per le etichette */
.booking-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

/* Stile per gli input */
.booking-form input,
.booking-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Pulsante di submit */
.booking-form button {
  width: 100%;
  padding: 12px;
  background-color: #008000; /* Colore verde */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.booking-form button:hover {
  background-color: #006400; /* Verde scuro quando hover */
}

/* Gruppo checkbox e pulsante "Ho un coupon" */
.checkbox-group {
  display: flex;
  justify-content: space-between; /* Allinea la checkbox e il pulsante su due lati */
  align-items: center;
  margin-bottom: 15px;
}

/* Stile per il pulsante "Ho un coupon" */
.coupon-btn {
  background-color: #FFD700; /* Colore giallo scuro per il fondo */
  border: none;
  color: #000000; /* Colore del testo nero */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 20px; /* Spazio tra la checkbox e il pulsante */
  transition: 0.3s ease, color 0.3s ease; /* Aggiungiamo una transizione */
}

.coupon-btn:hover {
  background-color: #e1c300; /* Colore giallo più scuro quando hover */
  color: white; /* Cambia il testo a bianco durante hover */
}

/* Input per il codice coupon */
.coupon-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
}
